@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'TTCommons';
        src: url(../../public/fonts/TTCommonsRegular.otf);
    }
    @font-face {
        font-family: 'ZonaPro';
        src: url(../../public/fonts/ZonaPro-Regular.ttf);
    }
}
